<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Abscence par &eacute;ducateur</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <link rel="icon" href="images/cubs.png" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">

    </style>
</head>
<body>
<div class="header">
    <a th:href="@{/}" class="logo"><img src="images/cubs.png" width="60" height="60"></a>
    <div class="header-right">
        <a class="active" th:href="@{/}">Accueil</a>
        <a th:href="@{/list}">List des joueurs</a>
        <a th:href="@{/fixtures}">Matches</a>
        <a th:href="@{/listest}">Testes</a>
        <a th:href="@{/trainings}">Entra&icirc;nements</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
<div id="wrapper">
    <h1>Abscence par &eacute;ducateur</h1>
    <table id="players">
        <tr>
            <th>&Eacute;ducateur</th>
            <th>Nombre total d'abscences</th>
        </tr>
        <tr>
            <td>Ismail Fakhir</td>
            <td>0</td>
        </tr>
    </table>
</div>
<div class="footer">
    <p> &copy; 2021 DIGIWISE - Tous droits r&eacute;serv&eacute;s.</p>
</div>
</body>
</html>