<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List des abscences</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
    <link rel="icon" th:href="@{/images/cubs.png}" type="image/icon type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">

  </style>

</head>
<body>
<div class="header">
    <a th:href="@{/}" class="logo"><img src="images/cubs.png" width="60" height="60"></a>
    <div class="header-right">
        <a class="active" th:href="@{/}">Accueil</a>
        <a th:href="@{/list}">List des joueurs</a>
        <a th:href="@{/fixtures}">Matches</a>
        <a th:href="@{/listest}">Testes</a>
        <a th:href="@{/trainings}">Entra&icirc;nements</a>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
<div id="wrapper">
    <h1 style="text-align: center">Abscence par joueur</h1>
    <table id="players">
        <tr>
            <th>Pr&eacute;nom</th>
            <th>Nom</th>
            <th style="text-align: center">Nombre total d'abscence</th>
        </tr>
        <tr th:each="player : ${players}">
            <td th:text="${player.prenom}"></td>
            <td th:text="${player.nom}"></td>
            <td style="color: red; text-decoration: bold;text-align: center;" th:text="${player.abscence}"></td>
        </tr>
    </table>
    <button class="registerbtn"><a th:href="@{/absperplayer}">Marquer l'abscence pour aujourd'hui</a></button>

</div>
<div class="footer">
    <p> &copy; 2021 DIGIWISE - Tous droits r&eacute;serv&eacute;s.</p>
</div>
</body>
</html>